# Cache and logs (Symfony2)
server/app/cache/*
server/app/logs/*
!server/app/cache/.gitkeep
!server/app/logs/.gitkeep

# Email spool folder
server/app/spool/*

# Cache, session files and logs (Symfony3)
server/var/cache/*
server/var/logs/*
server/var/sessions/*
!server/var/cache/.gitkeep
!server/var/logs/.gitkeep
!server/var/sessions/.gitkeep

# Parameters
server/app/config/parameters.yml
server/app/config/parameters.ini

# Managed by Composer
server/app/bootstrap.php.cache
server/var/bootstrap.php.cache
server/bin/*
!server/bin/console
!server/bin/symfony_requirements
server/vendor/

# Assets and user uploads
server/web/bundles/
server/web/uploads/

# PHPUnit
server/app/phpunit.xml
server/phpunit.xml

# Build data
server/build/

# Composer PHAR
server/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
server/.web-server-pid
### JetBrains template
.idea/*

# File-based project format
*.iws

# IntelliJ
out/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests
### Composer template
composer.phar

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/server/node_modules/
/server/web/build/*
/server/npm-debug.log
/server/yarn-error.log
.env