{% extends 'AdminBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/commands.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="content-group border-top-lg border-top-primary">
        <div class="page-header page-header-default" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
            <div class="page-header-content">
                <div class="page-title">
                    <h4>
                        <span class="text-semibold">Device commands</span>
                    </h4>
                </div>
            </div>
            {{ breadcrumbs() }}
        </div>
    </div>

    <div class="content">
        {{ include('@Admin/commands/command_create_new_track.html.twig', { form: startNewTrackForm }) }}
    </div>
{% endblock %}
